body{
    background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),url('images/pink\,\ chemistry\ aesthetic.jpg') center/ cover no-repeat;
}

header{
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    position: relative;
}

#help {
    display: none;
    background-color: black;
    border-radius: 50%;
}

#help:hover{
    background-color: grey;
}

#alert {
    background-color: white;
    position: fixed;
    top: 10%;
    left: 45%;
    transform: translate(-30%, -45%);
    width: 10rem;
    margin: 0px auto;
    text-align: center;
    border-radius: 30px;
    z-index: 100;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.733);
    display: none;
}


p{
    padding: 0px;
    margin: 5px;
}

#instructions {
    display: block;
    background-color: white;
    width: fit-content;
    padding: 3px 5px;
    margin: 0px auto;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    z-index: 1000;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#instructions span{
    position: absolute;
    left: 90%;
    top: -3%;
}

#instructions span:hover{
    cursor: pointer;
}

.close{
    font-size: 25px;
}

#rules {
    width: fit-content;
    margin: 9px auto;
    text-align: left;

}




@keyframes showThenHide {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    15% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}




#input {
    border: 0px;
    width: 100%;
    min-height: 100%;
    height: auto;
    padding: 1rem;
}

.blur {
    background-color: rgba(244, 244, 238, 0.4);
    backdrop-filter: blur(10px);
}

.unblur{
    background-color: rgba(244, 244, 238);
}


#editor{
    border: 2px black solid;
    width: 90%;
    height: 90vh;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px auto;
}

button{
    background-color: rgb(48, 140, 245);
    border: none;
    border-radius: 17px;
    padding: 12px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(108, 172, 244);
}